body,p,b,dl,dd,table,td,th,input,button,textarea,xmp,pre,img,form,div,ul,ol,li,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
img,iframe,acronym{border:0;}ol,ul,li{list-style:none;}
img,input,label,button{vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;width:100%;}
address,caption,cite,code,dfn,em,strong,th,var,b,i{font-style:normal;font-weight:normal;}
button,input,select,textarea{font-size:100%;}
body{_zoom:expression(function(el){document.execCommand('BackgroundImageCache',false,true);el.style.zoom = "1";}(this));}
button{cursor:pointer;}::-moz-focus-inner{border:0;padding:0;margin:0;}:focus{outline:none;}
body{font:14px/1.14 Arial;background:#F6F6F9 url(http://s0.hao123img.com/index/images/body_bg.png) repeat-x 0 27px;}
a{color:#1C1C1C;text-decoration:none;}a:hover{color:#f30;text-decoration:underline;}
b{font-size:0;display:block;overflow:hidden;-moz-user-select:none;}
i{display:inline-block;_display:inline;zoom:1;cursor:pointer;position:relative;width:16px;height:16px;background:url(../images/logoset.png) no-repeat;}
.i-home{background-position:0 -16px;}
.i-tool{background-position:-16px -16px;}
.i-tv{background-position:-32px -16px;}
.i-movie{background-position:-48px -16px;}
.i-music{background-position:-64px -16px;}
.i-game{background-position:-80px -16px;}
.i-onepiece{background-position:-96px -16px;}
.i-papers{background-position:-112px -16px;}
.mi{background-position:0 0px;}
.apple{background-position:-16px 0px;}
.train{background-position:-32px 0px;}
.dic{background-position:-48px 0px;}
.chess{background-position:-64px 0px;}
.blog{background-position:-80px 0px;top:3px;right:2px;}
.portrait{background-position:-96px 0px;top:3px;right:2px;}
.card{background-position:-112px 0px;top:3px;right:2px;}
.apple-1{background-position:-16px 0px;top:3px;}
.google{background-position:-128px 0px;top:3px;right:1px;}
.microsoft{background-position:-144px 0px;top:3px;right:1px;}
.alibaba{background-position:-160px 0px;top:3px;right:1px;}
.tencent{background-position:-176px 0px;top:3px;right:1px;}
.baidu{background-position:-192px 0px;top:3px;right:1px;}
.huawei{background-position:-208px 0px;top:3px;right:1px;}
.sohu{background-position:-224px 0px;top:3px;right:1px;}
.wangyi{background-position:-240px 0px;top:3px;right:1px;}
.sina{background-position:-256px 0px;top:3px;right:1px;}
.taobao{background-position:-272px 0px;top:3px;right:1px;}
.googletranslate{background-position:-288px 0px;top:3px;right:1px;}
.liantong{background-position:-304px 0px;top:3px;right:1px;}
.github{background-position:-128px -16px;top:3px;right:1px;}
.sourceforge{background-position:-144px -16px;top:3px;right:1px;}
.coding{background-position:-160px -16px;top:3px;right:1px;}
.clock{background-position:-176px -16px;top:3px;right:1px;}
.jd{background-position:-192px -16px;top:3px;right:1px;}
.sae{background-position:-208px -16px;top:3px;right:1px;}
.googlecode{background-position:-224px -16px;top:3px;right:1px;}
.bae{background-position:-240px -16px;top:3px;right:1px;}
.qihusoso{background-position:-256px -16px;top:3px;right:1px;}
.baidumap{background-position:-272px -16px;top:3px;right:1px;}
.qqmail{background-position:-288px -16px;top:3px;right:1px;}
.meituan{background-position:-304px -16px;top:3px;right:1px;}
.weather{background-position:0px -32px;top:3px;right:1px;}
.kuaidi{background-position:-16px -32px;top:3px;right:1px;}
.tongcheng{background-position:-32px -32px;top:3px;right:1px;}
.tielu{background-position:-32px 0px;top:3px;right:1px;}
.youdao{background-position:-48px 0px;top:3px;right:1px;}
.zhihu{background-position:-48px -32px;top:3px;right:1px;}
.jianshu{background-position:-64px -32px;top:3px;right:1px;}
.ai{background-position:-80px -32px;top:3px;right:1px;}
.linkedin{background-position:-96px -32px;top:3px;right:1px;}

.tc-red,.tc-red a{color:#F85050!important;}
.tc-green,.tc-green a{color:#1EAC1E!important;}
.tc-blue,.tc-blue a{color:#0053a5!important;}
b.space{display:inline-block;_display:inline;zoom:1;height:13px;width:0;position:relative;top:2px;border-left:1px solid #999;}
.ft{float:inherit;}
.ft-l{float:left;}
.ft-m{text-align:center;}
.ft-r{float:right;width:320px;}
.clearfix{zoom:1;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.corner b{width:5px;height:5px;}
.corner .l{float:left;_margin-right:-3px;}
.corner .r{float:right;_margin-left:-3px;}
.corner .m{width:auto;}.span-rows{letter-spacing:-.3em;*letter-spacing:normal;word-spacing:-.5em;}
.span-rows span{display:inline-block;vertical-align:top;letter-spacing:normal;}
.span-rows span a{letter-spacing:normal;word-spacing:normal;vertical-align:baseline;}
.sug-wrap{position:absolute;white-space:nowrap;overflow:hidden;top:30px;left:-1px;border:1px solid #817F82;background:#fff;width:448px;color:#1C1C1C;z-index:999;}
.sug-shim{position:absolute;top:-1px;left:-1px;z-index:-1;filter:alpha(opacity="0");width:420px;height:232px;}
.sug-wrap ol{font:bold 14px/21px verdana;cursor:default;}
.sug-wrap li{padding:1px 6px;padding-left:8px;}
.sug-wrap .sug-sub{color:#999;font-size:12px;font-weight:normal;padding-left:5px;}
.sug-wrap .sug-select{background:#E2EAFF;}
.sug-wrap .sug-query{font-weight:normal;}
.sug-wrap .sug-querynull{font-weight:normal;}
.l-header{overflow:hidden;}
.box-date{height:28px;}
.l-header_m{_margin:0 auto;}
.l-header_l{_margin-right:-3px;}
.l-header_r{_margin-left:-3px;}
.l-article_l{float:left;width:220px;margin-right:10px;_margin-right:7px;}
.l-article_r{overflow:hidden;zoom:1;}
.l-footer{text-align:center;font-size:12px;padding-top:20px;}
.box{width:1000px;margin:0 auto;}
.box-userbar{height:27px;font-size:12px;min-width:1000px;overflow:hidden;color:#666;background:#F7F7F7 url(http://s1.hao123img.com/index/images/main1.png) repeat-x 0 0;border-bottom:1px solid #E8E8E9;}
.box-userbar .box{line-height:27px;}
.box-userbar_link{line-height:28px;margin-right:-6px;}
.box-userbar_link span{margin:0 8px;vertical-align:baseline;}
.box-userbar_link a{color:#1C1C1C;}
.box-userbar_link a:hover{color:#f30;}
.box-userbar_link .i-home{float:left;margin-right:3px;_margin-right:0;top:4px;}@-moz-document url-prefix(){.box-userbar_link .i-home{top:5px;}}
.box-userbar_link .i-onepiece{float:left;margin-right:3px;_margin-right:0;top:4px;}@-moz-document url-prefix(){.box-userbar_link .i-onepiece{top:5px;}}
.box-banner{border:1px solid #E8E8E8;margin-top:9px;display:inline-block;}
.box-logo{display:inline-block;width:220px;height:80px;}
.box-logo img{margin-top:7px;}
.box-date{width:300px;text-align:left;white-space:nowrap;font-size:12px;font-family:Arial;line-height:23px;}
.box-date_ymd{margin-top:3px;}.box-date a:hover{border:none;text-decoration:none;color:#1C1C1C;}
.box-date a:hover *{text-decoration:underline;color:#1C1C1C;}
.box-date ul{cursor:pointer;display:inline-block;_display:inline;zoom:1;}
.box-date_ymd span{font-size:14px;}.box-search{border:1px solid #CBE6BD;margin-bottom:10px;_overflow:hidden;background:#F5F5F5 url(http://s1.hao123img.com/index/images/search2.png) repeat-x 0 -29px;padding-top:6px;width:998px;height:67px;}
.box-search_l{float:left;overflow:hidden;position:relative;width:220px;height:58px;margin-right:9px;}
.box-search_l img{position:absolute;right:0;bottom:0;}
.box-search_c{float:left;}
.box-search_tabs a{float:left;text-align:center;line-height:25px;width:49px;height:28px;margin-right:-1px;}
.box-search_tabs a:hover{text-decoration:none;color:#1C1C1C;}
.box-search_tabs a.cur{background:url(http://s1.hao123img.com/index/images/search2.png) no-repeat 0 0;color:#fff!important;font-weight:bold;cursor:default;}
.box-search_input{float:left;position:relative;background:#fff;z-index:99;cursor:text;height:30px;border:1px solid #ABABAB;border-right-color:#D9D9D9;border-bottom-color:#D9D9D9;}
.box-search_input input{border:none;background:none;width:441px;height:18px;margin-top:6px;*margin-top:5px;font:16px arial;padding-left:7px;}
.box-search_input b{font-size:0;display:block;position:absolute;-moz-user-select:none;}
.box-search_input .shadow-x{border-left:1px solid #CFCFCF;border-right:1px solid #EFEFEF;height:100%;}
.box-search_input .shadow-y{left:1px;border-top:1px solid #CFCFCF;border-bottom:1px solid #EFEFEF;width:447px;}
.box-search_btn{_display:inline;zoom:1;overflow:hidden;float:left;width:96px;margin-left:5px;background:#DBDBDB url(http://s1.hao123img.com/index/images/search2.png) repeat-x 0 -104px;}
.box-search_btn .l,.box-search_btn .r{margin-right:0;background:#DBDBDB url(http://s1.hao123img.com/index/images/search2.png) no-repeat -43px -172px;width:3px;height:33px;}
.box-search_btn .r{background-position:-39px -172px;}
.box-search_btn .m{border:none;background:none;float:left;width:90px;height:33px;line-height:33px;}
.box-search_btn_click .l{background-position:-35px -172px;}
.box-search_btn_click .r{background-position:-39px -172px;}
.box-search_btn_click{background-position:0 -138px;}
.box-search_more{overflow:hidden;_margin-left:-3px;_display:inline;zoom:1;width:56px;background:url(http://s1.hao123img.com/index/images/search2.png) no-repeat 43px -174px;position:relative;z-index:99;}
.box-search_more a{text-align:left;margin-left:8px;}.box-search_more_wrap{position:absolute;z-index:99;width:60px;line-height:23px;text-align:center;_overflow-y:hidden;_padding-bottom:2px;}
.box-search_more_wrap .shadow{background:#000;opacity:.15;filter:alpha(opacity=15);position:absolute;top:2px;left:2px;position:absolute;width:60px;z-index:-1;height:60px;display:block;position:absolute;z-index:99;width:100%;height:100%;_height:3000px;}
.box-search_more_wrap .content{position:relative;z-index:100;border:1px solid #817F82;background:#fff;}
.box-search_more_wrap a{zoom:1;display:block;}
.box-search_more_wrap a:hover{background:#E2EAFF;color:#1C1C1C;font-weight:bold;text-decoration:none;}
.box-search_r{float:right;position:relative;overflow:hidden;width:170px;height:58px;}
.box-search_notice{font-size:12px;text-align:right;margin-top:6px;padding-right:5px;}
.box-hotword{display:inline;vertical-align:bottom;position:absolute;bottom:5px;white-space:nowrap;font:normal 12px/1.231 宋体!important;margin-left:15px;}
.box-hotword span{margin:0 9px;}
.box-hotword a{color:#666;}
.box-leftbar{border:1px solid #CBE6BD;padding:2px;background:#ECF5E8;height:870px;overflow:hidden;}
.box-leftbar_inner{background:#F9FEF4;overflow:hidden;width:214px;}
.box-sidebar{background:#F9FEF4;padding:12px 0 11px 9px;margin:0 5px;width:214px;}
.box-sidebar_title{display:block;line-height:30px;}
.box-sidebar_title a{font-weight:bold;color:#498949;}
.box-sidebar_content{line-height:28px;}
.box-sidebar_content span{width:24.9%;}
.box-sidebar_per{line-height:28px;}
.box-sidebar_per span.infoa{width:35%;}
.box-sidebar_per span.infob{width:28%;}
.box-sidebar_per span.infoc{width:28%;}
.box-sidebar_per span a.infoa{width:35%;}
.box-sidebar_per span a.infob{width:28%;}
.box-sidebar_per span a.infoc{width:28%;}
.box-sidebar_app{line-height:28px;}
.box-sidebar_app span{width:32%;}
.box-sidebar_last{height:216px;}
.box-starbar{background:#F9FEF4;padding:5px 5px 3px;white-space:nowrap;height:150px;}
.box-starbar li{height:30px;*margin-bottom:-3px;line-height:1.2;padding:0 10px;position:relative;}
.box-starbar li em a{position:absolute;top:9px;*top:10px;}
.box-starbar li.hover{background:url(http://s1.hao123img.com/index/images/hot.png) no-repeat 0 4px;}
.box-starbar i{float:left;left:-1px;margin-right:5px;}
.box-hotspot{width:auto;padding-top:7px;}
.box-hotspot li a{font-family:宋体;}
.box-hotspot .box-sidebar_title{color:#498949;font-size:14px;}
.box-hotspot li{height:22px;line-height:24px;font-size:12px;overflow:hidden;}
.box-hotspot .em{color:red;}
.box-hotspot .hot-video{padding-right:20px;background:url(http://s1.hao123img.com/index/images/hot.png) no-repeat right -38px;}
.box-hotspot .hot-title{color:#666;}
.box-starbar acronym{position:absolute;right:8px;top:9px;top:11px;height:14px;line-height:14px;}
.box-starbar acronym a{font-size:12px;color:#666;}
.box-starbar acronym a:hover{color:#f30;}
.box-hot{border:2px solid #97c853;overflow:hidden;height:145px;background:#FEFEFB;}
.box-hot_content{width:100%;margin-left:15px;margin-top:6px;line-height:31px;}
.box-hot_content span{text-align:center;width:115px;overflow:hidden;height:30px;}
.box-hot_content span em{color:#999;margin:3px;}
.box-adbar{overflow:hidden;height:25px;line-height:25px;font-size:12px;text-align:center;padding-left:5px;}
.box-adbar span{margin:0 10px;}
.box-adbar a{color:#3b5998;}
.box-adbar a:hover{color:#f30;text-decoration:underline;}
.box-sort{position:relative;margin-bottom:0;border:1px solid #97c853;background:#ECF5E8;padding:2px;overflow:hidden;z-index:10;}
.box-sort_title{position:absolute;left:3px;z-index:10;}
.box-sort_title a{color:#108410;}
.box-sort_title a:hover{color:#f30;}
.box-sort_content .box-sort_more{position:absolute;right:-3px;line-height:29px;z-index:10;display:block;}
.box-sort_more a{color:#666;font-size:12px;font-family:\5B8B\4F53;}
.box-sort_content{overflow:hidden;white-space:nowrap;padding:5px 0;line-height:32px;background:#fff;text-align:center;border-bottom:5px solid #E5EFDB;background:#FBFEF7;}
.box-sort_last{border:0;}
.box-sort_content span{margin:0 11px;}
.box-sort_content span em{color:#999;margin:3px;}
.box-tools{margin-top:10px;border:1px solid #CBE6BD;padding:2px;background:#ECF5E8;overflow:hidden;height:85px;position:relative;}
.box-tools_content{white-space:nowrap;line-height:26px;font-size:12px;padding-top:2px;padding-bottom:2px;background:#F9FEF4;}
.box-tools_content li{overflow:hidden;position:relative;zoom:1;}
.box-tools_content span{margin-right:18px;}
span.box-tools_title{float:left;overflow:hidden;margin-left:15px;margin-right:3px;_margin-right:-3px;width:60px;}
.box-tools_content a{color:#1C1C1C;}
.box-tools_content a:hover{color:#f30;text-decoration:underline;}
.box-tools_title a{color:#205001;font-weight:bold;}
.box-tools_content .box-tools_more{position:absolute;top:0;right:6px;margin:0;}
.box-tools_more a{color:#666;font-family:\5B8B\4F53;}
.box-about span{padding:0 9px;}
.box-about b{top:0;}
span.box-about_first{border:none;}
.box-copyright{margin-top:10px;_margin-top:12px;margin-bottom:10px;line-height:16px;}
.box-copyright span{margin:0 14px;}
.box-copyright .i-papers{left:3px;top:-1px;vertical-align:top;_vertical-align:baseline;}
.box-copyright a,.box-copyright a:hover,.box-about a,.box-about a:hover{color:#1C1C1C;}
.box-fav{margin:0 auto;margin:0 auto;width:1000px;margin-top:-10px;}
.b-edit{margin-bottom:0;padding-bottom:0;}.box-fav .site{width:100%;}
.box-fav .s-edit{height:34px;position:relative;overflow:hidden;}
.box-fav .s-list{float:left;width:1000px;height:34px;}
.box-sites .haoMySite dt{padding-left:0;}
.haoMySite{font-size:14px;height:34px;line-height:34px;overflow:hidden;}
.haoMySite dt{float:left;padding-right:5px;}
.haoMySite dd{display:inline-block;float:left;position:relative;}
.haoMySite a{margin-right:20px;position:relative;}
.tc-orange,.tc-orange a{color:#f30;}
.box-banner{vertical-align:middle;}
.box-tools_title a{color:#498949;}
.box-side_more{font-family: SimSun;}
	.l-article_r a{ display:inline-block; padding:0px 7px;}
	.l-article_r a.hot-item-left{ padding-right:4px;}
	.l-article_r .box-sort .span-rows span{ height:32px; overflow:hidden; }
	.l-article_r .box-hot .span-rows span{ height:30px; overflow:hidden; }
	.l-article_r a.hot-item-right{padding-left:4px;}
	.l-article_r a.sort-item-left{ padding-right:4px;}
	.l-article_r a.sot-item-right{padding-left:4px;}
	.box-sort_content{ line-height:30px;}
	.box-adbar span{ margin:0 3px;}
	.box-hot_content span{ }
	.box-sort_content span{ margin:0 4px;}
	.box-mail_input input{ width:80px; padding-right:2px;}
	.box-mail_select{ margin-left:-4px;}
	#mailPassWord { width:126px }
