
i.qqimg    {display:inline-block;_display:inline;zoom:1;cursor:pointer;position:relative;}
.qqangry   {background:url(../images/qqimg/angry.gif)   	no-repeat center center;background-size:90%;}
.qqawkward {background:url(../images/qqimg/awkward.gif) 	no-repeat center center;background-size:90%;}
.qqbye     {background:url(../images/qqimg/bye.gif) 		no-repeat center center;background-size:90%;}
.qqcrazy   {background:url(../images/qqimg/crazy.gif) 		no-repeat center center;background-size:90%;}
.qqcry     {background:url(../images/qqimg/cry.gif) 		no-repeat center center;background-size:90%;}
.qqcurse   {background:url(../images/qqimg/curse.gif)   	no-repeat center center;background-size:90%;}
.qqcute    {background:url(../images/qqimg/cute.gif)  		no-repeat center center;background-size:90%;} 
.qqdespise {background:url(../images/qqimg/despise.gif) 	no-repeat center center;background-size:90%;}
.qqdoubt   {background:url(../images/qqimg/doubt.gif)   	no-repeat center center;background-size:90%;}
.qqenvy    {background:url(../images/qqimg/envy.gif) 		no-repeat center center;background-size:90%;}
.qqfastcry {background:url(../images/qqimg/fastcry.gif) 	no-repeat center center;background-size:90%;}
.qqknock   {background:url(../images/qqimg/knock.gif) 		no-repeat center center;background-size:90%;}
.qqlaugh   {background:url(../images/qqimg/laugh.gif)   	no-repeat center center;background-size:90%;}
.qqmad     {background:url(../images/qqimg/mad.gif)  		no-repeat center center;background-size:90%;} 
.qqohmy    {background:url(../images/qqimg/ohmy.gif) 		no-repeat center center;background-size:90%;}
.qqpanic   {background:url(../images/qqimg/panic.gif)   	no-repeat center center;background-size:90%;}
.qqproud   {background:url(../images/qqimg/proud.gif) 		no-repeat center center;background-size:90%;}
.qqquiet   {background:url(../images/qqimg/quiet.gif)   	no-repeat center center;background-size:90%;}
.qqsad     {background:url(../images/qqimg/sad.gif)   		no-repeat center center;background-size:90%;}
.qqshutup  {background:url(../images/qqimg/shutup.gif)  	no-repeat center center;background-size:90%;} 
.qqshy     {background:url(../images/qqimg/shy.gif) 		no-repeat center center;background-size:90%;}
.qqsleep   {background:url(../images/qqimg/sleep.gif)   	no-repeat center center;background-size:90%;}
.qqsmile   {background:url(../images/qqimg/smile.gif) 		no-repeat center center;background-size:90%;}
.qqstruggle{background:url(../images/qqimg/struggle.gif) 	no-repeat center center;background-size:90%;}
.qqtitter  {background:url(../images/qqimg/titter.gif) 		no-repeat center center;background-size:90%;}
.qqtongue  {background:url(../images/qqimg/tongue.gif)  	no-repeat center center;background-size:90%;}
.qqwail    {background:url(../images/qqimg/wail.gif)  		no-repeat center center;background-size:90%;} 
.qqwronged {background:url(../images/qqimg/wronged.gif) 	no-repeat center center;background-size:90%;}